 ###                                         UK Train Final Project

## 1- import libraris

In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df= pd.read_csv('Desktop/UK Train Rides - Copy/railway.csv',index_col = 0) # first col is int
df.head(10)

,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
Transaction ID,,,,,,,,,,,,,,,,,
da8a6ba8-b3dc-4677-b176,08/12/2023,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,01/01/2024,11:00:00,13:30:00,13:30:00,On Time,NaN,No
b0cdd1b0-f214-4197-be53,16/12/2023,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,01/01/2024,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
f3ba7a96-f713-40d9-9629,19/12/2023,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,02/01/2024,18:15:00,18:45:00,18:45:00,On Time,NaN,No
b2471f11-4fe7-4c87-8ab4,20/12/2023,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,01/01/2024,21:30:00,22:30:00,22:30:00,On Time,NaN,No
2be00b45-0762-485e-a7a3,27/12/2023,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,01/01/2024,16:45:00,19:00:00,19:00:00,On Time,NaN,No
4e1dcd88-3d95-44ef-99fa,30/12/2023,07:56:06,Online,Credit Card,NaN,Standard,Advance,35,London Kings Cross,York,01/01/2024,06:15:00,08:05:00,08:05:00,On Time,NaN,No
1c74479d-85a4-4ba1-a607,31/12/2023,00:02:01,Station,Credit Card,Adult,Standard,Advance,2,London Euston,Oxford,01/01/2024,22:30:00,23:40:00,23:40:00,On Time,NaN,No
febf8dab-f808-46fa-bf2b,31/12/2023,01:35:18,Station,Contactless,Disabled,Standard,Advance,2,Liverpool Lime Street,Manchester Piccadilly,01/01/2024,00:00:00,00:30:00,00:30:00,On Time,NaN,No
01df916f-4291-41ec-a37d,31/12/2023,01:43:09,Station,Credit Card,NaN,Standard,Advance,37,London Euston,York,01/01/2024,00:00:00,01:50:00,02:07:00,Delayed,Signal Failure,No
a8cedba7-1923-459d-b046,31/12/2023,03:05:52,Online,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,01/01/2024,01:30:00,02:30:00,02:30:00,On Time,NaN,No

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31653 entries, da8a6ba8-b3dc-4677-b176 to 1d5d89a2-bde5-410f-8f91
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date of Purchase     31653 non-null  object
 1   Time of Purchase     31653 non-null  object
 2   Purchase Type        31653 non-null  object
 3   Payment Method       31653 non-null  object
 4   Railcard             10735 non-null  object
 5   Ticket Class         31653 non-null  object
 6   Ticket Type          31653 non-null  object
 7   Price                31653 non-null  int64
 8   Departure Station    31653 non-null  object
 9   Arrival Destination  31653 non-null  object
 10  Date of Journey      31653 non-null  object
 11  Departure Time       31653 non-null  object
 12  Arrival Time         31653 non-null  object
 13  Actual Arrival Time  29773 non-null  object
 14  Journey Status       31653 non-null  object
 15  Reason for Delay     4172 non-null   object
 16  Refund Request       31653 non-null  object
dtypes: int64(1), object(16)
memory usage: 4.3+ MB

#### As we can see ther is a nulls in 'railcard,actual arrive time ,  refund request' so i will replace them

## 2-data cleanning

In [26]:
df['Railcard']=df['Railcard'].fillna('Not use')

In [28]:
df['Actual Arrival Time']=df['Actual Arrival Time'].fillna('canceled')

In [30]:
df['Reason for Delay']=df['Reason for Delay'].fillna('Not delayed')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31653 entries, da8a6ba8-b3dc-4677-b176 to 1d5d89a2-bde5-410f-8f91
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date of Purchase     31653 non-null  object
 1   Time of Purchase     31653 non-null  object
 2   Purchase Type        31653 non-null  object
 3   Payment Method       31653 non-null  object
 4   Railcard             31653 non-null  object
 5   Ticket Class         31653 non-null  object
 6   Ticket Type          31653 non-null  object
 7   Price                31653 non-null  int64
 8   Departure Station    31653 non-null  object
 9   Arrival Destination  31653 non-null  object
 10  Date of Journey      31653 non-null  object
 11  Departure Time       31653 non-null  object
 12  Arrival Time         31653 non-null  object
 13  Actual Arrival Time  31653 non-null  object
 14  Journey Status       31653 non-null  object
 15  Reason for Delay     31653 non-null  object
 16  Refund Request       31653 non-null  object
dtypes: int64(1), object(16)
memory usage: 4.3+ MB

In [42]:
# but we can see there is a deffrant data typr in some colums so we will change it

In [72]:
df['Date of Purchase']=pd.to_datetime(df['Date of Purchase'],format='%d/%m/%Y')

In [64]:
df['Time of Purchase']=pd.to_datetime(df['Time of Purchase'])

C:\Users\محمدسامىالسيداحمدحسن\AppData\Local\Temp\ipykernel_13048\4251099198.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time of Purchase']=pd.to_datetime(df['Time of Purchase'])

In [74]:
df['Date of Journey']=pd.to_datetime(df['Date of Journey'],format='%d/%m/%Y')

In [76]:
df['Departure Time']=pd.to_datetime(df['Departure Time'])

C:\Users\محمدسامىالسيداحمدحسن\AppData\Local\Temp\ipykernel_13048\1755801954.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Departure Time']=pd.to_datetime(df['Departure Time'])

In [80]:
df['Actual Arrival Time']=pd.to_datetime(df['Actual Arrival Time'],errors='coerce')

C:\Users\محمدسامىالسيداحمدحسن\AppData\Local\Temp\ipykernel_13048\2646689335.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Actual Arrival Time']=pd.to_datetime(df['Actual Arrival Time'],errors='coerce')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31653 entries, da8a6ba8-b3dc-4677-b176 to 1d5d89a2-bde5-410f-8f91
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date of Purchase     31653 non-null  datetime64[ns]
 1   Time of Purchase     31653 non-null  datetime64[ns]
 2   Purchase Type        31653 non-null  object
 3   Payment Method       31653 non-null  object
 4   Railcard             31653 non-null  object
 5   Ticket Class         31653 non-null  object
 6   Ticket Type          31653 non-null  object
 7   Price                31653 non-null  int64
 8   Departure Station    31653 non-null  object
 9   Arrival Destination  31653 non-null  object
 10  Date of Journey      31653 non-null  datetime64[ns]
 11  Departure Time       31653 non-null  datetime64[ns]
 12  Arrival Time         31653 non-null  object
 13  Actual Arrival Time  29773 non-null  datetime64[ns]
 14  Journey Status       31653 non-null  object
 15  Reason for Delay     31653 non-null  object
 16  Refund Request       31653 non-null  object
dtypes: datetime64[ns](5), int64(1), object(11)
memory usage: 4.3+ MB